#game-area {
    margin-top: 2rem;
    max-width: 720px;
}

td {
    width: 30px;
    height: 9px;
}

body {
    background-color: black;
}

/* Glow effect */
#start:hover {
    box-shadow: 0 0 10px #ffc107, 0 0 20px #ffc107, 0 0 40px #ffc107;
}
#stop:hover {
    box-shadow: 0 0 10px #dc3545, 0 0 20px #dc3545, 0 0 40px #dc3545;
}